<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MS2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav style="box-shadow: 0 .25rem .75rem rgba(155, 55, 55);" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" height="100" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Order">Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="tel:+5145562500">Delivery Number</a>
                        </li>
                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="display:flex; flex-direction: row; justify-content: space-around;">
        <div class="container">
            &copy; 2021 - MS2 - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - <a asp-area="" asp-controller="Home" asp-action="Careers">Careers</a> - <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a> - <a asp-area="" asp-controller="Home" asp-action="About">About Us</a> - <a asp-area="" asp-controller="Home" asp-action="Order">Orders</a>
        </div>
        
        <div class="container">
            Social Media: <a href="https://www.facebook.com"><img class="social-media" src="//external-content.duckduckgo.com/ip3/www.facebook.com.ico" /></a> <a href="https://www.google.com"><img class="social-media" src="//external-content.duckduckgo.com/ip3/www.google.com.ico" /></a> <a href="https://www.youtube.com"><img class="social-media" src="//external-content.duckduckgo.com/ip3/www.youtube.com.ico" /></a>  <a href="https://www.instagram.com"><img class="social-media" src="//external-content.duckduckgo.com/ip3/www.instagram.com.ico" /></a>
        </div>
    </footer>
    <style>
        .social-media{
            height: 16px;
            width: 16px;
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
