@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out or deleted, please try again later.</p>
    <p class="text-danger">If this was not what you were expecting, please contact customer support.</p>
</header>
