@using Microsoft.AspNetCore.Identity
@using MS2.Data.Entities;
@inject UserManager<ApplicationUser> UserManager


<div class="container">
    <h1>Hello Cashier</h1>
    <div id="body">
        <table>
            <tbody>
                <tr>
                    <td>
                        <h2>Create Order</h2>
                    </td>
                </tr>

                <tr>
                    <td><h3>Pizzas</h3></td>
                    <td>
                        <select class="product-group" id="pizzas">
                            <option value="" selected="" disabled="" hidden="">Choose Type</option>
                        </select>
                    </td>

                    <td>
                        <select class="size-selection" >
                            <option value="" selected="" disabled="" hidden="">Choose Size</option>
                            <option value="Small">Small</option>
                            <option value="Medium">Medium</option>
                            <option value="Large">Large</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" placeholder="Quantity" class="item-qty"/>
                    </td>
                    <td>
                        <button class="addToOrder">Add</button>
                    </td>
                </tr>

                <tr>
                    <td><h3>Burgers</h3></td>

                    <td>
                        <select class="product-group" id="burgers">
                            <option value="" selected="" disabled="" hidden="">Choose Type</option>
                        </select>
                    </td>

                    <td>
                        <select class="size-selection">
                            <option value="" selected="" disabled="" hidden="">Choose Size</option>
                            <option value="Small">Small</option>
                            <option value="Medium">Medium</option>
                            <option value="Large">Large</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" placeholder="Quantity" class="item-qty"/>
                    </td>
                    <td>
                        <button class="addToOrder">Add</button>
                    </td>
                </tr>

                <tr>
                    <td><h3>Fries</h3></td>

                    <td>
                        <select class="product-group" id="fries">
                            <option value="" selected="" disabled="" hidden="">Choose Type</option>
                        </select>
                    </td>

                    <td>
                        <select class="size-selection">
                            <option value="" selected="" disabled="" hidden="">Choose Size</option>
                            <option value="Small">Small</option>
                            <option value="Medium">Medium</option>
                            <option value="Large">Large</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" placeholder="Quantity" class="item-qty"/>
                    </td>
                    <td>
                        <button class="addToOrder">Add</button>
                    </td>
                </tr>

                <tr>
                    <td><h3>Drinks</h3></td>

                    <td>
                        <select class="product-group" id="drinks">
                        </select>
                    </td>

                    <td>
                        <select class="size-selection">
                            <option value="" selected="" disabled="" hidden="">Choose Size</option>
                            <option value="Small">Small</option>
                            <option value="Medium">Medium</option>
                            <option value="Large">Large</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" placeholder="Quantity" class="item-qty"/>
                    </td>
                    <td>
                        <button class="addToOrder">Add</button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <select id="payment-type">
                            <option value="" selected="" disabled="" hidden="">Payment Type</option>
                            <option value="Cash">Cash</option>
                            <option value="Card">Card</option>
                        </select>
                    </td>
                    <td>
                        <select id="order-type">
                            <option value="" selected="" disabled="" hidden="">Order Type</option>
                            <option value="PickUp">Pick Up</option>
                            <option value="Delivery">Delivery</option>
                        </select>
                    </td>
                    <td>
                        <select id="dirver">
                            <option value="" selected="" disabled="" hidden="">Driver</option>

                            @foreach (var user in Model)
                            {
                                List<String> roles = await UserManager.GetRolesAsync(user);
                                if (roles.Contains("Driver"))
                                {
                                    <option value="@user.FirstName">@user.FirstName</option>
                                }
                            }

                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <table  id="order-view-table">
            <tbody id="order-view-table-body">
                <tr>
                    <td>
                        <h2>Order Items</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Total: </p>
                        <button>Confrim Order</button>
                        <button id="cancle-order">Cancle Order</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="module" src="~/js/CreateOrderAsCashierLogic.js"></script>
<style>
    #body {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    table,tr {
        border: 1px solid #DEE2E6;
    }

    td {
        padding: 15px;
    }
    table{
        margin: 0.5em;
    }
</style>