<h1>Hello, @ViewData["Role"]!</h1>

<h2 style="text-align:center">@ViewData["Title"]</h2>

<div id="container">
    <a class="link-btn" href="/UserRoles/Dashboard/@ViewData["Role"]">Users</a>
    @if ((string)ViewData["Role"] == "Owner" || (string)ViewData["Role"] == "Manager")
    {
        <a class="link-btn" asp-controller="UserRoles" asp-action="OrdersDashboard">Orders</a>
    }
</div>

<style>
    .link-btn
    {
        background-color: forestgreen;
        color: white;
        padding: 20px;
        margin: 10px;
        border-radius: 5px;
    }

    #container
    {
        display: flex;
        align-content: space-between;
        justify-content: center;
    }
</style>