@*

    pizza1.jpg Photo by Muffin Creatives from Pexels
    pizza2.jpg Photo by Sydney Troxell from Pexels
    pizza-place.jpg Photo by Eva Elijas from Pexels
*@
@{
    ViewData["Title"] = "About Us:";
}

<div class="card-header" style="margin-top: 10em; display:flex; flex-direction:row;">
    <div>
        <h1 class="display-1">About Us</h1>
        <p>
            We are a company that was born and raised in the heart of montreal.
            Our award-winning pizza has been a staple in the montreal community for generations.
            Our values have always been close to our mission: to provide the best pizza montreal has ever tasted.
        </p>
        <p>
            To achieve our mission, we ensure that our products are:
        </p>
        <ul>
            <li>Prepared Well</li>
            <li>Delivered Timely</li>
            <li>Always affordable</li>
        </ul>
    </div>
    <img height="80%" width="80%" src="~/img/pizza-place.jpg" />
</div>
<div style=" display:flex; flex-direction:row; justify-content:space-evenly;">
    <img height="100%" width="80%" src="~/img/pizza1.jpg" alt="example 1" />
    <img height="80%" width="80%" src="~/img/pizza2.jpg" alt="example 2" />
</div>

<style>
</style>
