@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id="COVID">
        <h1>COVID SAFETY PROTOCOLS</h1>
        <p>Here at Hella Good Pizza, we care about your health and safety. To keep everyone healthy, we are following local health guidelines such as mask-wearing and physical distancing while in-person.
        Our pizzas are safely handled at 450F, our carry-out and delivery is zero-contact, and our pizza boxes are sealed with a sticker for your peace of mind. You can always rest assured that if 
        you order from HGP, you will always get the highest quality products, handled with the utmost care.</p>
    </div>

    <div class="carousel slide" data-ride="carousel" id="index-carousel">

        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <a href="/Order#menu-item-header-Pizzas" class="carousel-item active">
                <img src="~/img/Pepperoni Pizza.jpg" />
                <div class="carousel-caption">
                    Pepperoni Pizza
                </div>
            </a>
            <a href="/Order#menu-item-header-Pizzas" class="carousel-item">
                <img src="~/img/All Dressed Pizza.jpg">
                <div class="carousel-caption">
                    All Dressed Pizza
                </div>
            </a>
            <a href="/Order#menu-item-header-Pizzas" class="carousel-item">
                <img src="~/img/Cheese Pizza.jpg">
                <div class="carousel-caption">
                    Cheese Pizza
                </div>
            </a>
            <a href="/Order#menu-item-header-Pizzas" class="carousel-item">
                <img src="~/img/Vegetarian Pizza.jpg">
                <div class="carousel-caption">
                    Vegetarian Pizza
                </div>
            </a>
        </div>
        <a class="carousel-control-prev" href="#index-carousel" role="button" data-slide="prev" style="background-color: rgba(255, 0, 0, 0.5)">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#index-carousel" role="button" data-slide="next" style="background-color: rgba(255, 0, 0, 0.5)">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<style>
    #COVID
    {
        margin: 5em;
        padding: 1em;
        background-color: rgba(255, 0 , 0, 0.5);
        border-radius: 5px;
    }

    .carousel-item img
    {
        width: 500px;
        height: 350px;
    }

    .carousel-caption
    {
        background-color: lightcoral;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>