@using MS2.Data.Entities;
@using Microsoft.AspNetCore.Identity
@model IEnumerable<MS2.Data.Entities.OrderEntry>
@inject SignInManager<ApplicationUser> signInManager

@{
    ViewData["Title"] = "Shopping Cart";
}

<script type="module" src="~/js/cartLogic.js"></script>
<script type="module" src="~/js/generateShoppingCart.js"></script>

<h1 id="cart-header">Shopping Cart</h1>
<p id="user-address">@ViewBag.UserAddress</p>

<div class="modal-container" id="modal-container">
    <div class="modal1">
        <h2>
            Order Placed Successfully!
        </h2>
        @{
            string signedIn = "An Email should have been sent to preserve order details.";
            string notSignedIn = "You are not signed in. Please sign in in order to recieve emails upon order submission.";
        }
        <p>
            @if (signInManager.IsSignedIn(User))
            {
                @signedIn
            }
            else
            {
                @notSignedIn
            }
        </p>
            <button class="btn btn-success addToOrder" id="modal-button">Okay</button>
        </div>
</div>

<style>
    .modal-container {
        visibility: hidden;
        background-color: rgba(0,0,0,0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    .modal1 {
        background-color: #ffffff;
        width: 600px;
        max-width: 100%;
        padding: 1.5em;
        border-radius: 5px;
        text-align: center;
    }

    h1 {
        margin-top: 150px;
    }

    .cart-info {
        font-size: 1.25em;
    }

    #cart-items-container {
        border-radius: .5em;
        border: solid grey 1px;
        display: flex;
        flex-direction: column;
    }

    #check-out > * {
        margin: 1em;
    }

    .Qty-btn-div > * {
        margin: .25em;
    }

    .cart-items {
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
        border-radius: .5em;
        border: solid grey 1px;
        padding: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cart-item-image {
        width: 150px;
    }

    #address-div {
        height: 10em;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #card-div {
        height: 10em;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
</style>
