@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id="COVID">
        <h1>COVID SAFETY PROTOCOLS</h1>
        <p>Here at Hella Good Pizza, we care about your health and safety. To keep everyone healthy, we are following local health guidelines such as mask-wearing and physical distancing while in-person.
        Our pizzas are safely handled at 450F, our carry-out and delivery is zero-contact, and our pizza boxes are sealed with a sticker for your peace of mind. You can always rest assured that if 
        you order from HGP, you will always get the highest quality products, handled with the utmost care.</p>
    </div>
</div>

<style>
    #COVID
    {
        margin: 5em;
        padding: 1em;
        background-color: rgba(255, 0 , 0, 0.5);
        border-radius: 5px;
    }
</style>