@model IEnumerable<MS2.Data.Entities.Product>

@{
    ViewData["Title"] = "Order";
}

<h1 class="order-header">Order</h1>

<table class="table">
    @foreach (IGrouping<string, MS2.Data.Entities.Product> ig in Model.GroupBy(p => p.Category).OrderByDescending(ig => ig.FirstOrDefault().Category))
    {
        <tr>
            <td><h2>@ig.FirstOrDefault().Category</h2></td>
        </tr>
        @foreach (MS2.Data.Entities.Product pr in ig)
        {

        <tr>
            <td><img src="~/img/@(pr.ItemName).jpg" class="img-fluid" alt="@pr.ItemName" width="100" height="100" /></td>
            <td><h3>@pr.ItemName</h3></td>
            <td><h4>From @pr.SmallPrice.ToString("c")</h4></td>
            @if (pr.LargePrice > 0)
            {
                <td>Sizes: Small, Medium, Large</td>
            }
            else if (pr.MediumPrice < 0)
            {
                <td>Sizes: Small, Medium</td>
            }
            else
            {
                <td>Sizes: Small</td>
            }
            <td><button class="btn btn-success addToOrder">Add To Order</button></td>
</tr>
        }
    }
</table>

<style>
    .order-header {
        margin-top: 120px;
    }
</style>
